[submodule "Dependencies/minhook"]
	path = Dependencies/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
